# Directorios locales de Terraform
.terraform/

# Archivos de estado
*.tfstate
*.tfstate.backup

# Archivos de variables con posibles credenciales
*.tfvars
*.tfvars.json

# Archivos de configuración local y logs
.terraformrc
terraform.rc
crash.log
crash.*.log

# Archivos de editores
.vscode/
.idea/